.banner {
  width: 90%;
  margin: 0 auto;
}
.bannerContent {
  padding: 40px 0px;
}

.bannerContentDirection {
  display: flex;
  justify-content: space-between;
}

.bannerMovieContentDirection {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

@media only screen and (max-width: 960px) {
  .bannerContent {
    padding: 20px 0px;
  }

  .bannerContentDirection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bannerMovieContentDirection {
    display: initial;
  }
}
