@font-face {
  font-family: "BebasNeue";
  src: local("BebasNeue"),
    url("./assets/fonts/BebasNeue-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: BebasNeue, Arial, sans-serif;
  box-sizing: border-box;
  overflow: "hidden";
}

body {
  background-color: #242424;
}

body::-webkit-scrollbar {
  display: none;
}

li {
  list-style: none;
}

textarea:focus,
input:focus {
  outline: none;
}
